<?xml version="1.0" ?>
<robot name="vacuum_gripper">

  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="xarm_vacuum_gripper_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="xarm_vacuum_gripper_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.055"/>
      <mass value="0.656"/>
      <inertia ixx="0.00047106" ixy="3.9292E-07" ixz="2.6537E-06" iyy="0.00033072" iyz="-1.0975E-05" izz="0.00025642"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://description/meshes/vacuum_grippermeshes/vacuum_gripper.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <link name="link_tcp"/>

  <joint name="joint_tcp" type="fixed">
    <parent link="xarm_vacuum_gripper_link"/>
    <child link="link_tcp"/>
    <origin rpy="0 0 0" xyz="0 0 0.126"/>
  </joint>
</robot>
