<?xml version="1.0" ?>
<robot name="xarm_gripper">

  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="xarm_gripper_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="xarm_gripper_base_link">
    <collision>
      <geometry>
        <mesh filename="package://description/meshes/xarm_grippermeshes/base_link.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <!-- Left side -->

  <joint name="left_outer_knuckle_mount" type="fixed">
    <parent link="xarm_gripper_base_link"/>
    <child link="left_outer_knuckle_mount_link"/>
    <origin rpy="0 0 0" xyz="0 0.035 0.059098"/>
  </joint>

  <link name="left_outer_knuckle_mount_link"/>

  <joint name="drive_joint" type="revolute">
    <parent link="left_outer_knuckle_mount_link"/>
    <child link="left_outer_knuckle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
  </joint>

  <link name="left_outer_knuckle">
    <collision>
      <geometry>
        <box size="0.0118 0.035 0.073"/>
      </geometry>
      <origin rpy="-0.70078 0 0" xyz="0 0.02229 0.01325"/>
    </collision>
  </link>

  <joint name="left_finger_joint" type="revolute">
    <parent link="left_outer_knuckle"/>
    <child link="left_finger"/>
    <origin rpy="0 0 0" xyz="0 0.035465 0.042039"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
    <mimic joint="drive_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="left_finger">
    <collision>
      <geometry>
        <box size="0.032 0.03193 0.06693"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 -0.01004 0.02754"/>
    </collision>
  </link>

  <joint name="left_inner_knuckle_mount" type="fixed">
    <parent link="xarm_gripper_base_link"/>
    <child link="left_inner_knuckle_mount_link"/>
    <origin rpy="0 0 0" xyz="0 0.02 0.074098"/>
  </joint>

  <link name="left_inner_knuckle_mount_link"/>

  <joint name="left_inner_knuckle_joint" type="revolute">
    <parent link="left_inner_knuckle_mount_link"/>
    <child link="left_inner_knuckle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
    <mimic joint="drive_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="left_inner_knuckle">
    <collision>
      <geometry>
        <box size="0.0282 0.012 0.067"/>
      </geometry>
      <origin rpy="-0.70078 0 0" xyz="0 0.01773 0.02102"/>
    </collision>
  </link>

  <!-- Right side: mirror of the left in Y, with the axes flipped -->

  <joint name="right_outer_knuckle_mount" type="fixed">
    <parent link="xarm_gripper_base_link"/>
    <child link="right_outer_knuckle_mount_link"/>
    <origin rpy="0 0 0" xyz="0 -0.035 0.059098"/>
  </joint>

  <link name="right_outer_knuckle_mount_link"/>

  <joint name="right_outer_knuckle_joint" type="revolute">
    <parent link="right_outer_knuckle_mount_link"/>
    <child link="right_outer_knuckle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
    <mimic joint="drive_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="right_outer_knuckle">
    <collision>
      <geometry>
        <box size="0.0118 0.035 0.073"/>
      </geometry>
      <origin rpy="0.70078 0 0" xyz="0 -0.02229 0.01325"/>
    </collision>
  </link>

  <joint name="right_finger_joint" type="revolute">
    <parent link="right_outer_knuckle"/>
    <child link="right_finger"/>
    <origin rpy="0 0 0" xyz="0 -0.035465 0.042039"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
    <mimic joint="drive_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="right_finger">
    <collision>
      <geometry>
        <box size="0.032 0.03193 0.06693"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.01004 0.02754"/>
    </collision>
  </link>

  <joint name="right_inner_knuckle_mount" type="fixed">
    <parent link="xarm_gripper_base_link"/>
    <child link="right_inner_knuckle_mount_link"/>
    <origin rpy="0 0 0" xyz="0 -0.02 0.074098"/>
  </joint>

  <link name="right_inner_knuckle_mount_link"/>

  <joint name="right_inner_knuckle_joint" type="revolute">
    <parent link="right_inner_knuckle_mount_link"/>
    <child link="right_inner_knuckle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.85" effort="50" velocity="2"/>
    <mimic joint="drive_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="right_inner_knuckle">
    <collision>
      <geometry>
        <box size="0.0282 0.012 0.067"/>
      </geometry>
      <origin rpy="0.70078 0 0" xyz="0 -0.01773 0.02102"/>
    </collision>
  </link>

  <!-- Tool centre point -->

  <link name="link_tcp"/>

  <joint name="joint_tcp" type="fixed">
    <parent link="xarm_gripper_base_link"/>
    <child link="link_tcp"/>
    <origin rpy="0 0 0" xyz="0 0 0.172"/>
  </joint>
</robot>
